@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  padding: 8px 16px;
  color: #7a4fff !important;
}
.swiper-pagination-bullet {
  width: .75rem !important;
  height: .75rem !important;
  background-color: #7a4fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #5200cc;
}